@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
$font-neue-montreal: 'Neue Montreal';

$font-lucida : 'Lucida Grande';
@font-face {
    font-family: 'Emberly Black';
    src: url('../WOFF2/Emberly-Regular.woff2') format('woff2'),
        url('../WOFF2/Emberly-BlackItalic.woff2') format('woff2');
    //font-weight: 500;
    font-style: normal;
}
$fontEmberlyRegular:'Emberly Regular';

$fontEmberlyBlackItalic : 'Emberly Black Italic';

@font-face {
    font-family: 'Helvetica Neun';
    src: url('../HelveticaNeue-Bold.woff2') format('woff2'),
        url('../HelveticaNeue-Medium.woff2') format('woff2');
    //font-weight: 500;
    font-style: normal;
}
$fontHelveticaNeueBold:'Helvetica Neue Bold';

$fontHelveticaNeueMedium : 'Helvetica Neue Medium';
