@import "./variables.scss";


*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
   

}
body{
    font-family: $fontPrimary !important;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.4fr 0.4fr 0.9fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
        
    .navegador { grid-area: 1 / 1 / 2 / 2; 
        
    }
    .header { grid-area: 2 / 1 / 3 / 2;
        }
    .section-one { grid-area: 3 / 1 / 4 / 2;
         }
    .section-two { grid-area: 4 / 1 / 5 / 2;
         }
    .section-theree { grid-area: 5 / 1 / 6 / 2;
       }
    .section-four { grid-area: 6 / 1 / 7 / 2;}
    .footer { grid-area: 7 / 1 / 8 / 2;}


///header
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../Assets/pickawood-rwa0Yh38FeA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1.4fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
        
    .header-heading {
        grid-area: 2 / 1 / 3 / 4;
        .header-heading__h1{
            font-size: 4.2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            background: rgba(0, 0, 0, 0.100);
            text-align: center;
            word-spacing: .8rem;
            letter-spacing: 0.5rem;   
        }
    }
    .header-text { 
        grid-area: 3 / 1 / 5 / 2;
        display: grid;
        grid-template-columns: 0.3fr repeat(3, 1fr);
        grid-template-rows: 0.3fr repeat(3, 1fr) 0.3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .header-text__h2{
            grid-area: 2 / 1 / 5 / 2;
            font-family: $fontSecondary;
            font-size: $h2font-size ;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            font-weight: bold;
            transform: rotate(270deg);
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            
        }
        .header-text__p1{
            grid-area: 2 / 2 / 3 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p2{
            grid-area: 3 / 2 / 4 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p3{
            grid-area: 4 / 2 / 5 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        
    }
    /*
    &:before{
        content:"";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background-image: linear-gradient(rgba(255, 255,255,.1), rgba(34, 40, 49, .5));

    }*/
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }
// navbar


.navegador{
    background:$white;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    .logo{
        margin: 0 25px;
        img{
            width: 200px;
        }
    }
    .nav-items{
        margin-left: auto;
        ul{
            margin: 10px 10px;
            list-style: none;
            display: flex;
            li{
                margin: 10px 10px;
                
                a{
                    color:rgba(0, 0, 0, 0.514);
                    font-weight: 550;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: .5s ease-out;
                    &:hover{
                        color: black;
                    }

                    /*
                    display: inline-block;
                    position: relative;
                        &:after{
                        content: "";
                        position: absolute;
                        z-index:100;
                        width: 100%;
                        height: 4px;
                        bottom: 0;
                        left: 0;
                        background-color: black;
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.5s ease-out;
                        &:hover{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }*/

            }
            }
        }
    }
    .icono-navegador{
        color: black;
        margin: 0px 25px;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
        margin-left: auto;
    }
}


.show-nav-items{
    height: 100% !important;
}

@media screen and (max-width:750px){
    .navegador .icono-navegador{
        display: block;
    }
    .navegador .nav-items{
        position:absolute;
        top:70px;
        background: $white ;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .5s ease-out;
    }
    .navegador .nav-items ul{
        flex-direction: column;
        li{
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        
    }
}
//About us 

.section-one{
    background: $white;
    margin:auto;
    display: grid;
    grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
    grid-template-rows: 0.3fr 1fr 0.2fr 0fr 1fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10% 5%;
    padding: 0%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    .personal-img {
        grid-area: 2 / 2 / 4 / 3;
        display: flex;
        justify-content: right;
        align-items: center;
    img{
        width: 75%;
        height: 85%;
        padding: 3%;
        border-right: black solid 1px;
    }
    }
    .personal-text{
        grid-area: 2 / 3 / 4 / 5; 
        .personal-text__h2{
            font-size: 2rem;
            text-transform: uppercase;
            font-family:$fontPrimary ;
            font-weight: 400;
            text-align: left;
            
            padding: 10px 5px;
        }
        .personal-text__p{
            text-align: left;
            padding: 0px 40px;
            font-family: $fontPrimary;
            font-weight: 500;
        }
    }
    .design-1{
        grid-area: 5 / 2 / 6 / 3;
        height: 300px;
        width: 300px;
        position: relative;
        left: 18%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:5;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background: $primarybackground;
            z-index: 15;
            &:hover .design-1__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-1__h3{
            
            font-family: $fontSecondary;
            font-size: 1.5rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-1__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
        
    }
    .design-2{
        grid-area: 5 / 3 / 6 / 4;
        height: 300px;
        width: 300px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:10;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background: $primarybackground;
            z-index: 15;
            &:hover .design-2__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-2__h3{
            
            font-family: $fontSecondary;
            font-size: 1.5rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-2__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
        
    }
    .design-3{
        grid-area: 5 / 4 / 6 / 5;
        height: 300px;
        width: 300px;
        position: relative;
        right: 18%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:5;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background: $primarybackground;
            z-index: 15;
            &:hover .design-3__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-3__h3{
            
            font-family: $fontSecondary;
            font-size: 1.5rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-3__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
       
    }
}

@media screen and (max-width:850px){
    .section-one{
        background: $white;
        margin: 20px 20px;
        display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: 0.3fr 1fr 0.3fr 0.3fr 0.2fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
        .personal-img {
            grid-area: 2 / 2 / 3 / 3;
        img{
            width: 75%;
            height: 85%;
        }
        }
        .personal-text{
            grid-area:  2 / 3 / 3 / 4;;
            .personal-text__h2{
                font-size: 1.5rem;
                text-transform: capitalize;
                font-family:$fontPrimary ;
                font-weight: 600;
                text-align: center;
                padding: 10px 0px;
            }
            .personal-text__p{
                text-align: center;
                padding: 0px 40px;
                font-family: $fontPrimary;
                font-weight: 500;
            }
        }
        .design-1{
            grid-area: 3 / 2 / 4 / 3;
            text-align: center;
            
            .design-1__h3{
                font-family: $fontSecondary;
                font-size: 1.2rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;   
            }
            .design-1__p{
                
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
        }
        .design-2{
            grid-area: 3 / 3 / 4 / 4;
            text-align: center;
            .design-2__h3{
                font-family: $fontSecondary;
                font-size: 1.2rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;   
            }
            .design-2__p{
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
    
        }
        .design-3{
            grid-area: 4 / 2 / 5 / 4;
            text-align: center;
            margin-top: 10px;
            .design-3__h3{
                font-family: $fontSecondary;
                font-size: 1.2rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;
            }
            .design-3__p{
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
        }
    }
}

// Proyectos 

.section-two{
    margin: 2% 0%;
    padding: 0% 3%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
    .text{
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;

    .text__h2{
        font-family: $fontPrimary;
        font-size: $h1font-size;
        text-transform: uppercase;
        font-weight: 500 !important;
        
    }
    .text__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10%;
        height: 10%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.171);
        border: none;
        margin-top: 10px 0%;
        &:hover{
            background-color: $primary;
            border: black solid 1px;
            transition: all 500ms ;
        }
        a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $black;
        }
    }
    }
    .carousel{
        grid-area: 1 / 2 / 2 / 3;
        height: 500px !important;
        width: 600px !important;
        padding: 0% 0% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
        
        
    }
}
//Marcas

.section-theree{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $black;
    margin: 0;
    padding: 0;
    .marcas{
        margin: 3% 0%;
        .marcas__h2{
            color: $white;
            text-transform: uppercase;
            font-family: $fontPrimary;
            font-size: $h3font-size;
            font-weight: bold;
            &:hover{
                color: rgb(209, 209, 209);
            }
        }
    }
    .marcas-container{
        width: 100%;
        height: 80vh;
        padding-left: 15%;
        padding-right: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30%;
        grid-row-gap: 10px;
        color: $white;
    }
    .marcas-container-1{
        grid-area: 1 / 1 / 2 / 2;
        
    }
    .marcas-container-2{
        grid-area: 1 / 2 / 2 / 3;
    }
    .marcas-container-3{
        grid-area: 1 / 3 / 2 / 4;
    }
    .marcas-container-4{
        grid-area: 2 / 1 / 3 / 2;
    }
    .marcas-container-5{
        grid-area: 2 / 2 / 3 / 3;
    }
    .marcas-container-6{
        grid-area: 2 / 3 / 3 / 4;
    }
}

.c-cursor {
	--size: 30px;
	position: fixed;
	width: var(--size);
	height: var(--size);
	top: calc(var(--size)/-2);
	left: calc(var(--size)/-2);
	transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
	pointer-events: none;
	transition: none;
	z-index: 11000;
	will-change: transform;
	.is-debug &{
		transition: all 0.2s ease-in-out;
	}
	&__inner{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $white;
		border: 1px solid $black;
		transition: all 0.15s ease-in-out;
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
    &.is-clicked &__inner{
        opacity: 0.5;
    }
    &.is-hidden &__inner{
        opacity: 0;
    }
    &.is-link-hovered &__inner {
		transform: scale(0.75) translateZ(0);
		background-color: var(--color-a);
	}
}
.has-custom-cursor{
    &,
    *{
        cursor: none !important;
    }
}



#sectionFour {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: 0.6fr repeat(2, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .s4__heading {grid-area: 1 / 2 / 2 / 4; }
    .E1 { 
        grid-area: 2 / 2 / 3 / 3;
    
    }
    .E2 { 
        grid-area: 2 / 3 / 3 / 4; 
      
    }
    .E3 { 
        grid-area: 3 / 2 / 4 / 4;
        
    }

  

.s4__heading{
    text-align: center;
}
.s4__heading-h3{
    font-family: $fontPrimary;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.s4__heading-h2{
    font-family: $fontPrimary;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
}
@media screen and (max-width:768px){
    .s4__heading-h2{
        font-size: 1.5rem;
    }
    .s4__heading-h3{
        font-size: 1rem;
    }
}
 //ver    
    .evento__item{
        width: 100%;
        height: 300px;
        position: relative;
        margin: auto auto auto;
        overflow: hidden;
        max-width: 530px;
    }
    .evento__item__caption {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(33, 37, 41, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .evento__item__caption-content {
        color: $secondary;
        margin: auto 2rem 2rem;
    }
    .evento__item__caption-content-t1{
        font-family: $fontFive;
        font-size: 1rem;
        font-weight: 900;
        color: $black !important;
        text-transform: uppercase;
        padding: 10px;
    }
    .evento__item__caption-content-text {
        font-family: $fontPrimary;
        font-weight: 400;
        color: $black;
        font-size:$text1-font-size;
    }
    .evento__item__img{
        height: 100% !important;
        width: 100%;
    }
    @media (min-width: 992px) {
        .evento-item {
        max-width: none;
        margin: 0;
        }
        .evento__item__caption {
        transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, background-color 0.7s;
        transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
        }
        .evento__item__caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        }
        .evento__item__img{
        transition: -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
        }
        .evento__item__img{
            width:100%;
            height: 300px;
        }
        .evento__item:hover .evento__item__img {
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
            }
            .evento__item:hover .evento__item__caption {
            background-color:$primary;
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
            }
        }
        @media screen and (max-width:768px){
            #s4 {
                display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
                }
                
                .s4__heading { grid-area: 1 / 2 / 2 / 3; }
                .E1 { grid-area: 2 / 2 / 3 / 3; }
                .E2 { grid-area: 3 / 2 / 4 / 3; }
                .E3 { grid-area: 4 / 2 / 5 / 3; }
            .evento__item__img{
                width:100%;
                height: 100%;
            }
    }   

    .footer{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: $black;
        color: $white;
        padding: 0% 5% ;
       .footer-heading{
        display: flex;
        justify-content: left;
        text-align: left;
            padding:10% 10% 10% 0% ;
            height: 100%;
            width: 100%;
        .footer-heading__h2{
            font-family: $fontFive;
            font-size: 5rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 5px;
            word-spacing: 5%;
            &:hover{
                color: rgba(242, 240, 237, 0.7);
            }
            }
        }
    .footer-text{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-text-list{
            list-style: none;
            padding-left: 5%;
            border-left: white solid 1px;
            .footer-text-list__item{
                font-family: $fontPrimary;
                font-size: 1.2rem;
                padding: 5% 0%;
                span{
                    font-family:$fontFive ;
                }
            }
        }
    }

    }



