* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  overscroll-behavior: none;
}

.header-gallery {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 3rem;
  background-color: #191917;
}

.logo {
  position: absolute;
  left: 12%;
}

.menu-toggle2 {
  position: fixed;
  top: 8.5vh !important;
  z-index: 10000;
  left: 3%;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-toggle2 :nth-child(1) {
  width: 70%;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle2:hover span {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle2 span:nth-child(2) {
  width: 100%;
  height: 2px;
  background-color: black;
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 10000;
  top: -100vh;
  background-color: #171717;
  -webkit-transition: .2s;
  transition: .2s;
}

nav.active {
  top: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.logo-nav {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: white;
  bottom: 0;
  left: 12%;
}

nav ul {
  position: absolute;
  left: 12%;
  top: 20%;
  height: 55%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  position: relative;
  color: #b6b6b6 !important;
  left: 0;
  text-decoration: none;
  font-size: 2.5rem;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.nav-link.active {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-link.active:hover {
  color: white !important;
  left: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active-link {
  color: white;
}

.menu-close {
  position: absolute;
  top: 45vh;
  left: 2%;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-close:hover {
  opacity: .6;
}

.menu-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 2px;
  background-color: white;
}

.menu-close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

main .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 2800px;
  height: 100%;
}

main .slider .slider-inner {
  position: relative;
  top: 15%;
  height: 70%;
  width: 1005;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .slider .slider-inner .item {
  position: relative;
  width: 400px;
  height: 100%;
  overflow: hidden;
}

main .slider .slider-inner .item .item-text {
  height: 5%;
  width: 100%;
}

main .slider .slider-inner .item .item-text h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .slider .slider-inner .item .item-text h3 span {
  text-transform: uppercase;
}

main .slider .slider-inner .item .img {
  position: absolute;
  left: -100px;
  width: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
$font-neue-montreal: 'Neue Montreal';

$font-lucida : 'Lucida Grande';
@font-face {
    font-family: 'Emberly Black';
    src: url('../WOFF2/Emberly-Regular.woff2') format('woff2'),
        url('../WOFF2/Emberly-BlackItalic.woff2') format('woff2');
    //font-weight: 500;
    font-style: normal;
}
$fontEmberlyRegular:'Emberly Regular';

$fontEmberlyBlackItalic : 'Emberly Black Italic';*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
  width: 100%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  -webkit-transition: 1s;
  transition: 1s;
}

.intro .logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
}

.intro .logo-header .logo1 {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.intro .logo-header .logo1.active {
  bottom: 0;
  opacity: 1;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.intro .logo-header .logo1.fade {
  bottom: 150px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 3rem;
  background-color: #191917;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 12%;
  color: #f2f0ed;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo span {
  text-transform: lowercase;
  font-weight: 500;
}

.menu-toggle {
  position: fixed;
  top: 4.5vh;
  left: 3%;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 300;
}

.menu-toggle :nth-child(1) {
  width: 70%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle:hover span {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle span:nth-child(2) {
  width: 100%;
  height: 2px;
  background-color: white;
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 10000;
  top: -100vh;
  background-color: #171717;
  -webkit-transition: .2s;
  transition: .2s;
}

nav.active {
  top: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.logo-nav {
  position: relative;
  color: white;
  bottom: 0;
  left: 12%;
}

nav ul {
  position: absolute;
  left: 12%;
  top: 20%;
  height: 55%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  position: relative;
  color: #b6b6b6 !important;
  left: 0;
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.nav-link.active {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-link.active:hover {
  color: white !important;
  left: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active-link {
  color: white;
}

.menu-close {
  position: absolute;
  top: 45vh;
  left: 2%;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-close:hover {
  opacity: .6;
}

.menu-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 2px;
  background-color: white;
}

.menu-close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-cero {
  width: 100%;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #88837c;
}

.section-cero .header-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-cero .header-heading .header-heading__h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 8rem;
  font-weight: 400 !important;
  color: #f2f0ed;
  text-transform: uppercase;
  text-align: center;
  word-spacing: .8rem !important;
  letter-spacing: .8rem !important;
  padding: 5%;
}

.section-cero .header-heading .header-heading__h1:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  letter-spacing: .6rem !important;
}

.section-cero .header-heading .header-heading__h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #212121;
  padding-top: 10px;
  padding-bottom: 50px;
  font-weight: 450;
  text-transform: uppercase;
  text-align: center;
  word-spacing: .7rem;
  letter-spacing: .6rem;
}

@media screen and (max-width: 850px) {
  .header-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-heading .header-heading__h1 {
    font-size: 5rem !important;
    font-weight: 400 !important;
    color: #f2f0ed;
    text-transform: uppercase;
    text-align: center;
    word-spacing: .5rem !important;
    letter-spacing: .7rem !important;
  }
  .header-heading .header-heading__h1:hover {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    letter-spacing: .5rem !important;
  }
  .header-heading .header-heading__h2 {
    font-size: 1rem;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: .5rem;
    letter-spacing: .6rem;
  }
}

/* .header-text { 
        grid-area: 3 / 1 / 5 / 2;
        display: grid;
        grid-template-columns: 0.3fr repeat(3, 1fr);
        grid-template-rows: 0.3fr repeat(3, 1fr) 0.3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .header-text__h2{
            grid-area: 2 / 1 / 5 / 2;
            font-family: $fontSecondary;
            font-size: $h2font-size ;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            font-weight: bold;
            transform: rotate(270deg);
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            
        }
        .header-text__p1{
            grid-area: 2 / 2 / 3 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p2{
            grid-area: 3 / 2 / 4 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p3{
            grid-area: 4 / 2 / 5 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        
    }*/
/*
    &:before{
        content:"";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background-image: linear-gradient(rgba(255, 255,255,.1), rgba(34, 40, 49, .5));

    }*/
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.section-one {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  margin: auto;
  border-bottom: black solid 1px;
  padding-top: 5%;
}

.container-aboutus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: .5fr 1.1fr .2fr;
      grid-template-rows: .5fr 1.1fr .2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-aboutus .personal-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 4 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Assets/mateus-campos-felipe-ZxdJFgSGQBA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 90%;
}

.container-aboutus .personal-heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-aboutus .personal-heading .personal-heading__h2 {
  font-size: 2rem;
  width: 100%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  color: #808080;
  letter-spacing: 4px;
}

.container-aboutus .personal-heading .personal-heading__h2 .personal-heading__h2__span {
  color: #212121;
  font-weight: 550;
}

.container-aboutus .personal-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.container-aboutus .personal-text .personal-text__p {
  text-align: left;
  font-size: medium;
  font-size: 1.1rem;
  width: 90%;
  padding: 10% 10%;
  border-left: #171717 solid 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.container-values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: .2fr 1fr .2fr;
      grid-template-rows: .2fr 1fr .2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin: auto;
}

.container-values .design-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  height: 300px;
  width: 300px;
  position: relative;
  left: 45%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 5;
  overflow: hidden;
  padding: 0px 20px;
}

.container-values .design-1:hover {
  background-color: #fff4de;
  z-index: 15;
  color: black;
  border-color: white;
}

.container-values .design-1:hover:hover .design-1__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.container-values .design-1 .design-1__h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.container-values .design-1 .design-1__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.container-values .design-1 .design-1__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.container-values .design-1 .design-1__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.container-values .design-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  height: 300px;
  width: 300px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 10;
  overflow: hidden;
  margin: auto;
  padding: 0px 20px;
}

.container-values .design-2:hover {
  background: #fff4de;
  z-index: 15;
  color: black;
  border-color: white;
}

.container-values .design-2:hover:hover .design-2__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.container-values .design-2 .design-2__h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.container-values .design-2 .design-2__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.container-values .design-2 .design-2__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.container-values .design-2 .design-2__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.container-values .design-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  height: 300px;
  width: 300px;
  position: relative;
  right: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 5;
  overflow: hidden;
  padding: 0px 20px;
}

.container-values .design-3:hover {
  background: #fff4de;
  z-index: 15;
  color: black;
  border-color: white;
}

.container-values .design-3:hover:hover .design-3__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.container-values .design-3 .design-3__h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.container-values .design-3 .design-3__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.container-values .design-3 .design-3__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.container-values .design-3 .design-3__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media screen and (max-width: 850px) {
  .container-aboutus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: .5fr 1.1fr .2fr;
        grid-template-rows: .5fr 1.1fr .2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .container-aboutus .personal-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 4 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../Assets/mateus-campos-felipe-ZxdJFgSGQBA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 90%;
  }
  .container-aboutus .personal-heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-aboutus .personal-heading .personal-heading__h2 {
    font-size: 1rem;
    width: 100%;
    letter-spacing: 1px;
  }
  .container-aboutus .personal-heading .personal-heading__h2 .personal-heading__h2__span {
    color: #212121;
    font-weight: 550;
  }
  .container-aboutus .personal-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .container-aboutus .personal-text .personal-text__p {
    text-align: left;
    font-size: .5rem;
    width: 90%;
    padding: 10% 10%;
    border-left: #171717 solid 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 850px) {
  .container-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .container-values .design-1 {
    height: 180px;
    width: 180px;
    position: relative;
    left: 15%;
    margin-right: 20px;
    overflow: hidden;
    padding: 0px 20px;
  }
  .container-values .design-1:hover {
    background-color: #fff4de;
    z-index: 15;
    color: black;
    border-color: white;
  }
  .container-values .design-1:hover:hover .design-1__h3 {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
  }
  .container-values .design-1 .design-1__h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 550;
  }
  .container-values .design-1 .design-1__p {
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    font-weight: 400;
    overflow: hidden;
  }
  .container-values .design-1 .design-1__p p {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  .container-values .design-1 .design-1__p:hover p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .container-values .design-2 {
    height: 180px;
    width: 180px;
    z-index: 10;
    overflow: hidden;
    padding: 0px 20px;
  }
  .container-values .design-2:hover {
    background: #fff4de;
    z-index: 15;
    color: black;
    border-color: white;
  }
  .container-values .design-2:hover:hover .design-2__h3 {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
  }
  .container-values .design-2 .design-2__h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 550;
  }
  .container-values .design-2 .design-2__p {
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    font-weight: 400;
    overflow: hidden;
  }
  .container-values .design-2 .design-2__p p {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  .container-values .design-2 .design-2__p:hover p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .container-values .design-3 {
    height: 180px;
    width: 180px;
    z-index: 5;
    overflow: hidden;
    position: relative;
    right: 15%;
    margin-left: 20px;
    padding: 0px 20px;
  }
  .container-values .design-3:hover {
    background: #fff4de;
    z-index: 15;
    color: black;
    border-color: white;
  }
  .container-values .design-3:hover:hover .design-3__h3 {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
  }
  .container-values .design-3 .design-3__h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 550;
  }
  .container-values .design-3 .design-3__p {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    font-weight: 400;
    overflow: hidden;
  }
  .container-values .design-3 .design-3__p p {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  .container-values .design-3 .design-3__p:hover p {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
}

.section-two {
  height: 100%;
  width: 100%;
}

.project-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding: 5%;
}

canvas {
  position: fixed;
  z-index: 2;
  pointer-events: none;
}

section {
  position: relative;
  padding: 5vh;
  height: 100%;
  width: 100%;
}

.projects {
  width: 100%;
  height: 100%;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-ul__li {
  position: relative;
  border-bottom: 1px solid #212121;
  cursor: pointer;
  padding-top: 5%;
  font-size: 2.5vw;
  font-weight: 400;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.project-ul__li a {
  text-decoration: none;
  color: #212121;
}

.project-ul__li a:hover {
  color: #212121;
}

.project-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*.section-two{
    margin: 2% 0%;
    padding: 0% 6%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
    .text{
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;

    .text__h2{
        font-family: $fontPrimary;
        font-size: $h1font-size;
        text-transform: uppercase;
        font-weight: 500 !important;
        
    }
    .text__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10%;
        height: 10%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.171);
        border: none;
        margin-top: 10px 0%;
        &:hover{
            background-color: $secondarybackground;
            border: black solid 1px;
            transition: all 500ms ;
        }
        a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $black; 
        position: relative;
        &::after{
            content: " ";
            width: 0px;
            height: 2px;
            background-color: black;
            position: absolute;
            bottom: 0;
            right: 50%;
            transition: all .5s;
            will-change: width;
        }
        &:hover::after{
            width: 100%;
            right: 0;
        }
        i{
            padding: 0px 7px;
        }
        }
    }
    }
    .carousel{
        grid-area: 1 / 2 / 2 / 3;
        height: 500px !important;
        width: 600px !important;
        padding: 0% 0% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
        
        
    }
}
*/
.section-theree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.section-theree .marcas {
  margin: 8% 0%;
}

.section-theree .marcas .marcas__h2 {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.section-theree .marcas .marcas__h2:hover {
  color: #d1d1d1;
}

.section-theree .marcas-container {
  width: 100%;
  height: 80vh;
  padding-left: 15%;
  padding-right: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30%;
  grid-row-gap: 10px;
  color: white;
}

.section-theree .marcas-container-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.section-theree .marcas-container-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.section-theree .marcas-container-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.section-theree .marcas-container-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.section-theree .marcas-container-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.section-theree .marcas-container-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

#sectionFour {
  height: 150vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr (1fr)[2] 0.2fr;
      grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  -ms-grid-rows: 0.6fr (1fr)[2] 0.3fr;
      grid-template-rows: 0.6fr repeat(2, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.s4__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
}

.E1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.E2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.E3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 4 / 4;
}

.s4__heading {
  text-align: center;
}

.s4__heading-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.s4__heading-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .s4__heading-h2 {
    font-size: 1.5rem;
  }
  .s4__heading-h3 {
    font-size: 1rem;
  }
}

.evento__item {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto auto auto;
  overflow: hidden;
  max-width: 530px;
}

.evento__item__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.evento__item__caption-content {
  color: #212121;
  margin: auto 2rem 2rem;
}

.evento__item__caption-content-t1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: white !important;
  text-transform: uppercase;
  padding: 10px;
}

.evento__item__caption-content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #212121;
  font-size: 1rem;
}

.evento__item__img {
  height: 100% !important;
  width: 100%;
}

@media (min-width: 992px) {
  .evento-item {
    max-width: none;
    margin: 0;
  }
  .evento__item__caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .evento__item__caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .evento__item__img {
    transition: -webkit-clip-path 0.25s ease-out;
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .evento__item__img {
    width: 100%;
    height: 300px;
  }
  .evento__item:hover .evento__item__img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .evento__item:hover .evento__item__caption {
    background-color: #fff4de;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

@media screen and (max-width: 768px) {
  #s4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.2fr 1fr 0.2fr;
        grid-template-columns: 0.2fr 1fr 0.2fr;
    -ms-grid-rows: 0.6fr (1fr)[3] 0.3fr;
        grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
  }
  .s4__heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .E1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .E2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  .E3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
  }
  .evento__item__img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #212121;
  color: white;
  padding: 0%;
}

.footer .footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  padding: 10% 15% 5% 0%;
  height: 100%;
  width: 100%;
}

.footer .footer-heading .footer-heading__h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  word-spacing: 7%;
  padding-left: 5%;
}

.footer .footer-heading .footer-heading__h2:hover {
  color: rgba(242, 240, 237, 0.7);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer .footer-text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-text .footer-text-list {
  list-style: none;
  padding-left: 5%;
  border-left: white solid 1px;
}

.footer .footer-text .footer-text-list .footer-text-list__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 5% 0%;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.footer .footer-text .footer-text-list .footer-text-list__item span {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-transform: none;
  letter-spacing: .1rem;
}

.footer .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: 75px;
  padding: 0% 5% 5% 0%;
}

.footer .footer-button button {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 10px;
  background-color: #212121;
  border-radius: 50%;
  border: solid white 1px;
}

.footer .footer-button button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: .8rem;
  font-weight: bold;
}

.footer .footer-button button a i {
  padding: 10%;
}

.c-cursor {
  --size: 30px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size)/-2);
  left: calc(var(--size)/-2);
  -webkit-transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
          transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  z-index: 11000;
  will-change: transform;
}

.is-debug .c-cursor {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.555);
  border: 1.7px solid #5a5a5a;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
}

.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}

.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}

.c-cursor.is-link-hovered .c-cursor__inner {
  -webkit-transform: scale(0.75) translateZ(0);
          transform: scale(0.75) translateZ(0);
  background-color: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}
/*# sourceMappingURL=style.css.map */