* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-gallery {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container section {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.container section:nth-last-of-type(1) {
  background-color: #1c1c1c;
  color: green;
}

.container section:nth-last-of-type(2) {
  background-color: #262626;
  color: blue;
}

.container section:nth-last-of-type(3) {
  background-color: #303030;
  color: yellow;
}

.container section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 0.5fr 1fr 0.4fr 0.4fr 0.9fr 0.5fr;
      grid-template-rows: 0.1fr 0.5fr 1fr 0.4fr 0.4fr 0.9fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navegador {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.section-one {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.section-two {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.section-theree {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

.section-four {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 7 / 2;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 8 / 2;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/pickawood-rwa0Yh38FeA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 0.5fr 1.4fr (1fr)[2];
      grid-template-rows: 0.5fr 1.4fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 8px;
  /*
    &:before{
        content:"";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background-image: linear-gradient(rgba(255, 255,255,.1), rgba(34, 40, 49, .5));

    }*/
}

.header .header-heading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
}

.header .header-heading .header-heading__h1 {
  font-size: 4.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  word-spacing: .8rem;
  letter-spacing: 0.5rem;
}

.header .header-text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 5 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr (1fr)[3];
      grid-template-columns: 0.3fr repeat(3, 1fr);
  -ms-grid-rows: 0.3fr (1fr)[3] 0.3fr;
      grid-template-rows: 0.3fr repeat(3, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header .header-text .header-text__h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 5 / 2;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: bold;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-text .header-text__p1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2 / 2 / 3 / 5;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.header .header-text .header-text__p2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 3 / 2 / 4 / 5;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.header .header-text .header-text__p3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 4 / 2 / 5 / 5;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.navegador {
  background: white;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navegador .logo {
  margin: 0 25px;
}

.navegador .logo img {
  width: 200px;
}

.navegador .nav-items {
  margin-left: auto;
}

.navegador .nav-items ul {
  margin: 10px 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navegador .nav-items ul li {
  margin: 10px 10px;
}

.navegador .nav-items ul li a {
  color: rgba(0, 0, 0, 0.514);
  font-weight: 550;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  /*
                    display: inline-block;
                    position: relative;
                        &:after{
                        content: "";
                        position: absolute;
                        z-index:100;
                        width: 100%;
                        height: 4px;
                        bottom: 0;
                        left: 0;
                        background-color: black;
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.5s ease-out;
                        &:hover{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }*/
}

.navegador .nav-items ul li a:hover {
  color: black;
}

.navegador .icono-navegador {
  color: black;
  margin: 0px 25px;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.show-nav-items {
  height: 100% !important;
}

@media screen and (max-width: 750px) {
  .navegador .icono-navegador {
    display: block;
  }
  .navegador .nav-items {
    position: absolute;
    top: 70px;
    background: white;
    width: 100%;
    height: 0;
    overflow: hidden;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out;
  }
  .navegador .nav-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navegador .nav-items ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
}

.section-one {
  background: white;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr (1fr)[3] 0.3fr;
      grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
  -ms-grid-rows: 0.3fr 1fr 0.2fr 0fr 1fr 0.3fr;
      grid-template-rows: 0.3fr 1fr 0.2fr 0fr 1fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 10% 5%;
  padding: 0%;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

.section-one .personal-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Assets/mateus-campos-felipe-ZxdJFgSGQBA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 85%;
  padding: 3%;
  border-right: black solid 1px;
}

.section-one .personal-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / 4 / 5;
}

.section-one .personal-text .personal-text__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 10px 5px;
}

.section-one .personal-text .personal-text__p {
  text-align: left;
  padding: 0px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.section-one .design-1 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  height: 300px;
  width: 300px;
  position: relative;
  left: 18%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 5;
  overflow: hidden;
  padding: 0px 20px;
}

.section-one .design-1:hover {
  background: #FBEAC2;
  z-index: 15;
}

.section-one .design-1:hover:hover .design-1__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.section-one .design-1 .design-1__h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.section-one .design-1 .design-1__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.section-one .design-1 .design-1__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.section-one .design-1 .design-1__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.section-one .design-2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
  height: 300px;
  width: 300px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 10;
  overflow: hidden;
  padding: 0px 20px;
}

.section-one .design-2:hover {
  background: #FBEAC2;
  z-index: 15;
}

.section-one .design-2:hover:hover .design-2__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.section-one .design-2 .design-2__h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.section-one .design-2 .design-2__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.section-one .design-2 .design-2__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.section-one .design-2 .design-2__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.section-one .design-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 5 / 4 / 6 / 5;
  height: 300px;
  width: 300px;
  position: relative;
  right: 18%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  z-index: 5;
  overflow: hidden;
  padding: 0px 20px;
}

.section-one .design-3:hover {
  background: #FBEAC2;
  z-index: 15;
}

.section-one .design-3:hover:hover .design-3__h3 {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.section-one .design-3 .design-3__h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 550;
}

.section-one .design-3 .design-3__p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  overflow: hidden;
}

.section-one .design-3 .design-3__p p {
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.section-one .design-3 .design-3__p:hover p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media screen and (max-width: 850px) {
  .section-one {
    background: white;
    margin: 20px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.2fr (1fr)[2] 0.2fr;
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    -ms-grid-rows: 0.3fr 1fr 0.3fr 0.3fr 0.2fr;
        grid-template-rows: 0.3fr 1fr 0.3fr 0.3fr 0.2fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
  }
  .section-one .personal-img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .section-one .personal-img img {
    width: 75%;
    height: 85%;
  }
  .section-one .personal-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  .section-one .personal-text .personal-text__h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
  }
  .section-one .personal-text .personal-text__p {
    text-align: center;
    padding: 0px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .section-one .design-1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
  }
  .section-one .design-1 .design-1__h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .section-one .design-1 .design-1__p {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 400;
  }
  .section-one .design-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3 / 3 / 4 / 4;
    text-align: center;
  }
  .section-one .design-2 .design-2__h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .section-one .design-2 .design-2__p {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 400;
  }
  .section-one .design-3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 4 / 2 / 5 / 4;
    text-align: center;
    margin-top: 10px;
  }
  .section-one .design-3 .design-3__h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .section-one .design-3 .design-3__p {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 400;
  }
}

.section-two {
  margin: 2% 0%;
  padding: 0% 3%;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.section-two .text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-two .text .text__h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500 !important;
}

.section-two .text .text__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10%;
  height: 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.171);
  border: none;
  margin-top: 10px 0%;
}

.section-two .text .text__btn:hover {
  background-color: #FBEAC2;
  border: black solid 1px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.section-two .text .text__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.section-two .carousel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  height: 500px !important;
  width: 600px !important;
  padding: 0% 0% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.section-theree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}

.section-theree .marcas {
  margin: 3% 0%;
}

.section-theree .marcas .marcas__h2 {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.section-theree .marcas .marcas__h2:hover {
  color: #d1d1d1;
}

.section-theree .marcas-container {
  width: 100%;
  height: 80vh;
  padding-left: 15%;
  padding-right: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30%;
  grid-row-gap: 10px;
  color: white;
}

.section-theree .marcas-container-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.section-theree .marcas-container-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.section-theree .marcas-container-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.section-theree .marcas-container-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.section-theree .marcas-container-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.section-theree .marcas-container-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.c-cursor {
  --size: 30px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size)/-2);
  left: calc(var(--size)/-2);
  -webkit-transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
          transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  z-index: 11000;
  will-change: transform;
}

.is-debug .c-cursor {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
}

.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}

.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}

.c-cursor.is-link-hovered .c-cursor__inner {
  -webkit-transform: scale(0.75) translateZ(0);
          transform: scale(0.75) translateZ(0);
  background-color: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

#sectionFour {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr (1fr)[2] 0.2fr;
      grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  -ms-grid-rows: 0.6fr (1fr)[2] 0.3fr;
      grid-template-rows: 0.6fr repeat(2, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.s4__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
}

.E1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.E2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.E3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 4 / 4;
}

.s4__heading {
  text-align: center;
}

.s4__heading-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.s4__heading-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .s4__heading-h2 {
    font-size: 1.5rem;
  }
  .s4__heading-h3 {
    font-size: 1rem;
  }
}

.evento__item {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto auto auto;
  overflow: hidden;
  max-width: 530px;
}

.evento__item__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.evento__item__caption-content {
  color: #FFF8CF;
  margin: auto 2rem 2rem;
}

.evento__item__caption-content-t1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: black !important;
  text-transform: uppercase;
  padding: 10px;
}

.evento__item__caption-content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

.evento__item__img {
  height: 100% !important;
  width: 100%;
}

@media (min-width: 992px) {
  .evento-item {
    max-width: none;
    margin: 0;
  }
  .evento__item__caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .evento__item__caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .evento__item__img {
    transition: -webkit-clip-path 0.25s ease-out;
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .evento__item__img {
    width: 100%;
    height: 300px;
  }
  .evento__item:hover .evento__item__img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .evento__item:hover .evento__item__caption {
    background-color: #FBEAC2;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

@media screen and (max-width: 768px) {
  #s4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.2fr 1fr 0.2fr;
        grid-template-columns: 0.2fr 1fr 0.2fr;
    -ms-grid-rows: 0.6fr (1fr)[3] 0.3fr;
        grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
  }
  .s4__heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .E1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .E2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  .E3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
  }
  .evento__item__img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  color: white;
  padding: 0% 5%;
}

.footer .footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  padding: 10% 10% 10% 0%;
  height: 100%;
  width: 100%;
}

.footer .footer-heading .footer-heading__h2 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  word-spacing: 5%;
}

.footer .footer-heading .footer-heading__h2:hover {
  color: rgba(242, 240, 237, 0.7);
}

.footer .footer-text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text .footer-text-list {
  list-style: none;
  padding-left: 5%;
  border-left: white solid 1px;
}

.footer .footer-text .footer-text-list .footer-text-list__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 5% 0%;
}

.footer .footer-text .footer-text-list .footer-text-list__item span {
  font-family: "Roboto", sans-serif;
}

.footer .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0% 5% 5% 0%;
}

.footer .footer-button button {
  color: white;
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  border: solid white 1px;
}

.footer .footer-button button a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: .8rem;
}
/*# sourceMappingURL=style.css.map */