@import "./variables.scss";
@import "./gallery";
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
   

}
body{
    font-family: $fontPrimary !important;
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
// splash screen 
.intro{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    transition: 1s;
    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        .logo1{
            position:relative;
            display: inline-block;
            bottom: -20px;
            opacity: 0;
            
        }
        .logo1.active{
            bottom: 0;
            opacity: 1;
            transition: ease-in-out 0.5s;
        }
        .logo1.fade{
            bottom:150px;
            opacity: 0;
            transition: ease-in-out 0.5s;
        }

    }
}



//navegador

header{
    position: relative;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3rem;
    background-color: #191917;
}
.logo{
    position: absolute;
    bottom: 0;
    left: 12%;
        color: $bones;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        span{
            text-transform: lowercase;
            font-weight: 500;
        }
       
    
}
.menu-toggle{
    position: fixed;
    top: 4.5vh;
    left: 3%;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 300;
}
.menu-toggle :nth-child(1){
        width: 70%;
        height: 2px;
        background-color: $white;
        transition: 0.5s;
    }
.menu-toggle:hover span{
        width: 100%;
        opacity: 0.5;
        transition: 0.5s;
}
.menu-toggle span:nth-child(2){
        width: 100%;
        height: 2px;
        background-color: $white;
    }
nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 10000;
    top: -100vh;
    background-color: #171717;
    transition: .2s;
}
nav.active{
    top: 0;
    transition: .2s;
}
.logo-nav{
    position: relative;
    color: white;
    bottom: 0;
    left: 12%;
}
nav ul{
    position: absolute;
    left: 12%;
    top: 20%;
    height: 55%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-link{
    position: relative;
    color: rgb(182, 182, 182) !important;
    left: 0;
    text-decoration: none;
    font-size: 2.5rem;
    transition: .5s;
    opacity: 0;
}
.nav-link.active{
    opacity: 1;
    transition: .5s;
    &:hover{
        color: white !important;
        left: 10%;
        transition: 0.5s;
    }
}
.active-link{
    color: white;
}
.menu-close{
    position: absolute;
    top: 45vh;
    left: 2%;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &:hover{
        opacity: .6;
    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 2px;
        background-color: white;
        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
        }
    }
}


///header
.section-cero{
    width: 100%;
    height: 700px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #BEA791;
        
    .header-heading {
        margin: auto;
        .header-heading__h1{
            font-size: 7rem;
            font-weight: 500;
            color: #f2f0ed;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            word-spacing: .8rem;
            letter-spacing: 0.6rem;   
        }
        .header-heading__h2{
            font-size: 1.2rem;
            padding-top: 40px;
            font-weight: 450;
            text-transform: uppercase;
            color: #f2f0ed;
            text-align: center;
            word-spacing: .7rem;
            letter-spacing: .6rem;
        }
    }
    
   /* .header-text { 
        grid-area: 3 / 1 / 5 / 2;
        display: grid;
        grid-template-columns: 0.3fr repeat(3, 1fr);
        grid-template-rows: 0.3fr repeat(3, 1fr) 0.3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .header-text__h2{
            grid-area: 2 / 1 / 5 / 2;
            font-family: $fontSecondary;
            font-size: $h2font-size ;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            font-weight: bold;
            transform: rotate(270deg);
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            
        }
        .header-text__p1{
            grid-area: 2 / 2 / 3 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p2{
            grid-area: 3 / 2 / 4 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        .header-text__p3{
            grid-area: 4 / 2 / 5 / 5;
            font-family: $fontSecondary;
            font-size: $h3font-size;
            font-weight: bold;
            color: $white;
        }
        
    }*/
    /*
    &:before{
        content:"";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background-image: linear-gradient(rgba(255, 255,255,.1), rgba(34, 40, 49, .5));

    }*/
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }

//About us 

.section-one{
    width: 90%;
    height: 100%;
    background: $white;
    margin:auto;
    display: grid;
    grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
    grid-template-rows: 0.3fr 1fr 0.2fr 0fr 1fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10% 5%;
    padding: 0%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    .personal-img {
        grid-area: 2 / 2 / 4 / 3;
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: url(../Assets/mateus-campos-felipe-ZxdJFgSGQBA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 85%;
        padding: 3%;
        border-right: black solid 1px;
    }
    .personal-text{
        grid-area: 2 / 3 / 4 / 5; 
        .personal-text__h2{
            font-size: 2rem;
            text-transform: uppercase;
            font-family:$fontPrimary ;
            font-weight: 400;
            text-align: left;
            
            padding: 10px 5px;
        }
        .personal-text__p{
            text-align: left;
            padding: 0px 40px;
            font-family: $fontPrimary;
            font-weight: 500;
        }
    }
    .design-1{
        grid-area: 5 / 2 / 6 / 3;
        height: 250px;
        width: 250px;
        position: relative;
        left: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:5;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background-color:$secondarybackground;
            z-index: 15;
            color: black;
            border-color: white;
            &:hover .design-1__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-1__h3{
            
            font-family: $fontSecondary;
            font-size: 1rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-1__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
        
    }
    .design-2{
        grid-area: 5 / 3 / 6 / 4;
        height: 250px;
        width: 250px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:10;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background: $secondarybackground;
            z-index: 15;
            color: black;
            border-color: white;
            &:hover .design-2__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-2__h3{
            
            font-family: $fontSecondary;
            font-size: 1rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-2__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
        
    }
    .design-3{
        grid-area: 5 / 4 / 6 / 5;
        height: 250px;
        width: 250px;
        position: relative;
        right: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        z-index:5;
        overflow: hidden;
        padding: 0px 20px;
        &:hover{
            background: $secondarybackground;
            z-index: 15;
            color:black;
            border-color: white;
            &:hover .design-3__h3{
                transform:translateY(-80px);
                transition: 400ms ease-in-out;
            } 
        }
        .design-3__h3{
            
            font-family: $fontSecondary;
            font-size: 1rem;
            font-weight: $h3font-weight;
            text-transform: uppercase;
            font-weight: 550;
        }
        .design-3__p{
            width: 100%;
            height:150px;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0px 20px;
            font-family: $fontPrimary;
            font-size: .8rem;
            font-weight: $text1-font-weight;
            overflow: hidden;
            p{
                opacity: 0;
                transform: translateY(150px)
            }
            &:hover p{
                transform:translateY(0px);
                opacity: 1;
                transition: all 500ms;

            }
        }
       
    }
}

@media screen and (max-width:850px){
    .section-one{
        background: $white;
        margin: 20px 20px;
        display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: 0.3fr 1fr 0.3fr 0.3fr 0.2fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
        .personal-img {
            grid-area: 2 / 2 / 3 / 3;
        img{
            width: 75%;
            height: 85%;
        }
        }
        .personal-text{
            grid-area:  2 / 3 / 3 / 4;;
            .personal-text__h2{
                font-size: 1.5rem;
                text-transform: capitalize;
                font-family:$fontPrimary ;
                font-weight: 600;
                text-align: center;
                padding: 10px 0px;
            }
            .personal-text__p{
                text-align: center;
                padding: 0px 40px;
                font-family: $fontPrimary;
                font-weight: 500;
            }
        }
        .design-1{
            grid-area: 3 / 2 / 4 / 3;
            text-align: center;
            
            .design-1__h3{
                font-family: $fontSecondary;
                font-size: 1rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;   
            }
            .design-1__p{
                
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
        }
        .design-2{
            grid-area: 3 / 3 / 4 / 4;
            text-align: center;
            .design-2__h3{
                font-family: $fontSecondary;
                font-size: 1rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;   
            }
            .design-2__p{
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
    
        }
        .design-3{
            grid-area: 4 / 2 / 5 / 4;
            text-align: center;
            margin-top: 10px;
            .design-3__h3{
                font-family: $fontSecondary;
                font-size: 1rem;
                font-weight: $h3font-weight;
                text-transform: capitalize;
            }
            .design-3__p{
                font-family: $fontPrimary;
                font-size: .8rem;
                font-weight: $text1-font-weight;
            }
        }
    }
}

// Proyectos 
.section-two{
    height: 100%;
    width: 100%;
    
}
.project-h2{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $h2font-size;
    font-family: $fontPrimary;
    padding-bottom: 5%;
}
canvas {
    position: fixed;
    z-index: 2;
    pointer-events: none;
  }
  
  section {
    position: relative;
    padding: 5vh;
    height: 100%;
    width: 100%;
  }
  
  .projects {
    width: 100%;
    height: 100%;
  }
  
  .projects ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  
  .project-ul__li {
    position: relative;
    border-bottom: 1px solid $black;
    cursor: pointer;
    padding-top: 5%;
    font-size: 2.5vw;
    font-weight: 400;
    list-style: none;
  }
  
  .project-image {
    opacity: 0%;
    position: absolute;
    top: -100%;
    pointer-events: none;
    user-select: none;
  }
/*.section-two{
    margin: 2% 0%;
    padding: 0% 6%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
    .text{
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;

    .text__h2{
        font-family: $fontPrimary;
        font-size: $h1font-size;
        text-transform: uppercase;
        font-weight: 500 !important;
        
    }
    .text__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10%;
        height: 10%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.171);
        border: none;
        margin-top: 10px 0%;
        &:hover{
            background-color: $secondarybackground;
            border: black solid 1px;
            transition: all 500ms ;
        }
        a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $black; 
        position: relative;
        &::after{
            content: " ";
            width: 0px;
            height: 2px;
            background-color: black;
            position: absolute;
            bottom: 0;
            right: 50%;
            transition: all .5s;
            will-change: width;
        }
        &:hover::after{
            width: 100%;
            right: 0;
        }
        i{
            padding: 0px 7px;
        }
        }
    }
    }
    .carousel{
        grid-area: 1 / 2 / 2 / 3;
        height: 500px !important;
        width: 600px !important;
        padding: 0% 0% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
        
        
    }
}
*/
//Marcas

.section-theree{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $black;
    margin: 0;
    padding: 0;
    .marcas{
        margin: 3% 0%;
        .marcas__h2{
            color: $white;
            text-transform: uppercase;
            font-family: $fontPrimary;
            font-size: $h3font-size;
            font-weight: bold;
            &:hover{
                color: rgb(209, 209, 209);
            }
        }
    }
    .marcas-container{
        width: 100%;
        height: 80vh;
        padding-left: 15%;
        padding-right: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30%;
        grid-row-gap: 10px;
        color: $white;
    }
    .marcas-container-1{
        grid-area: 1 / 1 / 2 / 2;
        
    }
    .marcas-container-2{
        grid-area: 1 / 2 / 2 / 3;
    }
    .marcas-container-3{
        grid-area: 1 / 3 / 2 / 4;
    }
    .marcas-container-4{
        grid-area: 2 / 1 / 3 / 2;
    }
    .marcas-container-5{
        grid-area: 2 / 2 / 3 / 3;
    }
    .marcas-container-6{
        grid-area: 2 / 3 / 3 / 4;
    }
}

#sectionFour {
    height: 150vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
    grid-template-rows: 0.6fr repeat(2, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .s4__heading {grid-area: 1 / 2 / 2 / 4; }
    .E1 { 
        grid-area: 2 / 2 / 3 / 3;
    
    }
    .E2 { 
        grid-area: 2 / 3 / 3 / 4; 
    }
    .E3 { 
        grid-area: 3 / 2 / 4 / 4;
        
    }

.s4__heading{
    text-align: center;
}
.s4__heading-h3{
    font-family: $fontPrimary;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.s4__heading-h2{
    font-family: $fontPrimary;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
}
@media screen and (max-width:768px){
    .s4__heading-h2{
        font-size: 1.5rem;
    }
    .s4__heading-h3{
        font-size: 1rem;
    }
}
 //ver    
    .evento__item{
        width: 100%;
        height: 300px;
        position: relative;
        margin: auto auto auto;
        overflow: hidden;
        max-width: 530px;
    }
    .evento__item__caption {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(33, 37, 41, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .evento__item__caption-content {
        color: $black;
        margin: auto 2rem 2rem;
    }
    .evento__item__caption-content-t1{
        font-family: $fontFive;
        font-size: 1rem;
        font-weight: 900;
        color: $white !important;
        text-transform: uppercase;
        padding: 10px;
    }
    .evento__item__caption-content-text {
        font-family: $fontPrimary;
        font-weight: 400;
        color: $black;
        font-size:$text1-font-size;
    }
    .evento__item__img{
        height: 100% !important;
        width: 100%;
    }
    @media (min-width: 992px) {
        .evento-item {
        max-width: none;
        margin: 0;
        }
        .evento__item__caption {
        transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, background-color 0.7s;
        transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
        }
        .evento__item__caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        }
        .evento__item__img{
        transition: -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
        }
        .evento__item__img{
            width:100%;
            height: 300px;
        }
        .evento__item:hover .evento__item__img {
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
            }
            .evento__item:hover .evento__item__caption {
                //color del hover 
            background-color:$secondarybackground;
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
            }
        }
        @media screen and (max-width:768px){
            #s4 {
                display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
                }
                
                .s4__heading { grid-area: 1 / 2 / 2 / 3; }
                .E1 { grid-area: 2 / 2 / 3 / 3; }
                .E2 { grid-area: 3 / 2 / 4 / 3; }
                .E3 { grid-area: 4 / 2 / 5 / 3; }
            .evento__item__img{
                width:100%;
                height: 100%;
            }
    }   

    .footer{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: $black;
        color: $white;
        padding: 0% 5% ;
       .footer-heading{
        display: flex;
        justify-content: left;
        text-align: left;
            padding:15% 10% 10% 0% ;
            height: 100%;
            width: 100%;
        .footer-heading__h2{
            font-family: $fontFive;
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 5px;
            word-spacing: 7%;
            &:hover{
                color: rgba(242, 240, 237, 0.7);
            }
            }
        }
    .footer-text{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-text-list{
            list-style: none;
            padding-left: 5%;
            border-left: white solid 1px;
            .footer-text-list__item{
                font-family: $fontPrimary;
                font-size: 1.2rem;
                padding: 5% 0%;
                span{
                    font-family:$fontFive ;
                }
            }
        }
    }
    .footer-button{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0% 5% 5% 0%;
        button{
            
            color: white;
            padding: 10px;
            background-color: $black;
            border-radius: 50%;
            border: solid white 1px;
            a{
                display: flex;
                padding: 7px 0px;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-size: .8rem;
                font-weight: bold;
                i {
                    padding: 10%;
                }
            }

        }
    }

    }


    
//cursor

.c-cursor {
	--size: 30px;
	position: fixed;
	width: var(--size);
	height: var(--size);
	top: calc(var(--size)/-2);
	left: calc(var(--size)/-2);
	transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
	pointer-events: none;
	transition: none;
	z-index: 11000;
	will-change: transform;
	.is-debug &{
		transition: all 0.2s ease-in-out;
	}
	&__inner{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $bones;
		border: 1px solid $black;
		transition: all 0.15s ease-in-out;
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
    &.is-clicked &__inner{
        opacity: 0.5;
    }
    &.is-hidden &__inner{
        opacity: 0;
    }
    &.is-link-hovered &__inner {
		transform: scale(0.75) translateZ(0);
		background-color: var(--color-a);
	}
}
.has-custom-cursor{
    &,
    *{
        cursor: none !important;
    }
}


