
//hedings

//h1//
$h1font-size: 2rem;
$h1font-weight: 700;
$h1text-align: center;
//h2//
$h2font-size: 2.5rem;
$h2font-weight: 600;
$h2text-align: center;

//h3//
$h3font-size: 2rem;
$h3font-weight: 500;

//text//
$text1-font-size: 1rem;
$text1-font-weight: 400;
//footer//
$font-size-footer: 1rem;
$font-weight-footer: 600;

//coleres//
$primary: #FBEAC2;
$secondary:#FFF8CF;
$primarybackground: #fffff5;
$secondarybackground:#F0ECE3;
$primarydark:#c8b891;
$text-white:rgb(233, 224, 224);
$white:white;
$black:#171717;
$bones:#f2f0ed;
$header:#bea791;
$greenTuta:#AEBAAE;

//font family
$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Poppins', sans-serif;
$fontThird: 'Space Mono', monospace;
$fontFourth: 'Cormorant Garamond', serif;
$fontFive:'Roboto', sans-serif;