
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;300;600&family=Poppins:wght@100;200;600&family=Roboto:wght@400;500&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Gallery</title>
</head>

<body class="body-gallery">
    <div class="c-cursor | js-cursor">
        <div class="c-cursor__inner"></div>
    </div>

    <div class="container">
        <section>
            <div class="logo">
                <a href="../index.html"><img src="" alt="logo"> </a>
            </div>
            <h1>page one</h1>
        </section>
        <section>
            <h1>page two</h1>
        </section>
        <section>
            <h1>page three</h1>
        </section>
    </div>


   
    





    <script src="https://kit.fontawesome.com/f603964998.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <script type="text/javascript" src="skrollr.js"></script>
	
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>