
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;300;600&family=Poppins:wght@100;200;600&family=Roboto:wght@400;500&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Gallery</title>
</head>

<body>

    <body>
        <div class="c-cursor | js-cursor">
            <div class="c-cursor__inner"></div>
        </div>
        
    <!-- navegador-->
    <header class="header-gallery">
        <a href="../index.html">
        <h2 class="logo">tc<span></span><span>design</span></h2>
        </a>
    </header>
    
    <div class="menu-toggle2">
        <span></span>
        <span></span>
    </div>

    <nav class="menu">
        <header>
            <h2 class="logo-nav"><span style="font-weight: bold;" >TC</span><span style="font-weight: 400;">design</span></h2>
        </header>
        <div class="menu-close"> 
            <span></span>
            <span></span>
        </div>
        <ul>
            <li> <a class="nav-link active-link" href="../index.html">Home</a></li>
            <li> <a class="nav-link" href="../index.html">About</a></li>
            <li> <a class="nav-link" href="../index.html">Projects</a></li>
            <li> <a class="nav-link" href="../index.html">Brands</a></li>
            <li> <a class="nav-link" href="../index.html">Events</a></li>
            <li> <a class="nav-link" href="../index.html">Contact</a></li>
        </ul>

    </nav>
    
        <main>
            <div class="slider">
                <div class="slider-inner">
                    <div class="item item-1">
                        <div class="item-text">
                            <h3>01 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img "></div>
                    </div>
                    <div class="item item-2">
                        <div class="item-text">
                            <h3>02 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img"></div>
                    </div>
                    <div class="item item-3">
                        <div class="item-text">
                            <h3>03 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img "></div>
                    </div>
                    <div class="item item-4">
                        <div class="item-text">
                            <h3>04 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img"></div>
                    </div>
                    <div class="item item-5">
                        <div class="item-text">
                            <h3>05 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img"></div>
                    </div>
                    <div class="item item-6">
                        <div class="item-text">
                            <h3>06 <span>pruebaaa</span></h3>
                        </div>
                        <div class="img"></div>
                    </div>
                </div>
            </div>
        </main>
        




    <script src="https://kit.fontawesome.com/f603964998.js" crossorigin="anonymous"></script>
    <script src="../gallery.js"></script>
    
	
    
</body>
</html>